.DS_Store
build
devel
.vscode
!.vscode/settings.json
.cache/clangd
.clangd-index
.clangd-cache
.container
.catkin_workspace
sim_logs
/logs/
vrpn
*.bag
compile_commands.json
.catkin_tools/
.clangd/
__pycache__/
*.pyc
*.png
!src/uav_vision/templates/
!src/uav_vision/templates/*.png
*.ipynb
/docs/superpowers
src/fsm_ctrl/config/validated/
