<?xml version="1.0"?>
<launch>
  <arg name="model_name" default="iris_mid360"/>
  <arg name="output_topic" default="/vrpn_client_node/jy0/pose"/>
  <arg name="frame_id" default="world"/>

  <node pkg="gz_external_pose" type="gazebo_pose_to_vrpn.py" name="gazebo_pose_to_vrpn" output="screen">
    <param name="model_name" value="$(arg model_name)"/>
    <param name="output_topic" value="$(arg output_topic)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
  </node>
</launch>
