<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="$(find mid360_gazebo)/worlds/empty.world"/>

  <node name="gazebo_server" pkg="gazebo_ros" type="gzserver" args="--verbose $(arg world_name)" output="screen" required="true">
    <param name="use_sim_time" value="true"/>
    <param name="paused" value="false"/>
  </node>

  <node name="spawn_quadrotor" pkg="mid360_gazebo" type="spawn_quadrotor.py" output="screen">
    <param name="sdf_path" value="$(find mid360_gazebo)/models/quadrotor_mid360/model.sdf"/>
    <param name="model_name" value="quadrotor_mid360"/>
    <param name="x" value="0.0"/>
    <param name="y" value="0.0"/>
    <param name="z" value="1.0"/>
  </node>

  <node name="fake_odometry" pkg="mid360_gazebo" type="fake_odometry.py" output="screen">
    <param name="hover_x" value="0.0"/>
    <param name="hover_y" value="0.0"/>
    <param name="hover_z" value="1.0"/>
    <param name="position_noise_std" value="0.02"/>
    <param name="yaw_noise_std" value="0.01"/>
    <param name="drift_rate" value="0.001"/>
    <param name="publish_rate" value="30.0"/>
  </node>

  <node name="pose_comparison" pkg="mid360_gazebo" type="pose_comparison.py" output="screen">
    <param name="publish_rate" value="10.0"/>
    <param name="print_interval" value="0.5"/>
  </node>
</launch>
