layout {
      default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
    tab name="打点" focus=true {
        pane split_direction="vertical" {
            pane name="航点记录（等待融合位姿）" focus=true command="bash" {
                args "-lc" "source /opt/ros/noetic/setup.bash; source /home/flag/Jiangyin2026/devel/setup.bash; sleep 3;echo '[waypoint] 等待 /mavros/local_position/pose ...'; until rostopic info /mavros/local_position/pose >/dev/null 2>&1; do sleep 1; done; echo '[waypoint] 融合位姿已就绪，启动打点程序'; exec rosrun fsm_ctrl record_super_waypoints.py _output_file:=/home/flag/Jiangyin2026/src/fsm_ctrl/config/mission_super_waypoints_test.yaml  _segment_count:=3"
            }
            pane name="图像识别结果" command="bash" {
                args "-lc" "source /opt/ros/noetic/setup.bash; source /home/flag/Jiangyin2026/devel/setup.bash; sleep 3; exec rostopic echo /vision/target/result"
            }
        }
    }

    tab name="定位" {
        pane split_direction="vertical" {
            pane name="MID360 驱动" command="bash" {
                args "-lc" "source /opt/ros/noetic/setup.bash; source /home/flag/Jiangyin2026/devel/setup.bash;  exec roslaunch --wait ra_lio msg_MID360.launch"
            }
            pane name="RA-LIO" command="bash" {
                args "-lc" "source /opt/ros/noetic/setup.bash; source /home/flag/Jiangyin2026/devel/setup.bash;  sleep 3; exec roslaunch --wait ra_lio mapping_mid360.launch rviz:=false"
            }
            pane name="PX4 融合" command="bash" {
                args "-lc" "source /opt/ros/noetic/setup.bash; source /home/flag/Jiangyin2026/devel/setup.bash; sleep 2; roslaunch fsm_ctrl flight_fsm.launch"
            }
        }
    }

    tab name="视觉" {
        pane split_direction="vertical" {
            pane name="双相机" command="bash" {
                args "-lc" "source /opt/ros/noetic/setup.bash; source /home/flag/Jiangyin2026/devel/setup.bash; sleep 5; exec roslaunch uav_vision dual_target_vision.launch always_enabled:=true recording_enabled:=false"
            }
        }
    }
}
